<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load bootstrap4%}
    {%bootstrap_css%}


</head>

<body>
    <br>
    <div class="text-center">
        <img src="https://tse3.mm.bing.net/th?id=OIP.Rfg3mQqDjB7TBG4fEZ1V7QHaFH&pid=Api" style="width: 200px; height: 200px;" class="img-responsive rounded-circle" alt="">
    </div>
    <div>
        <a href="{% url 'login:login' %}" style="margin-left: 300px;">Ir a login</a>
    </div>
    <br><br>
    <div class="text-center form-group" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner " style="width: 700px; height: 700px; margin-left: 350px;">
                <div class="carousel-item active " style="width: 100%; height: 50%;">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.argl9YlYQwotddnMOEV-7wHaFj&pid=Api"
                        class="d-block w-100 img-responsive"  alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://tse1.mm.bing.net/th?id=OIP.Wr_Qlxk0gk1Z3PPhkU4TdAHaEo&pid=Api"
                        class="d-block w-100 img-responsive" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.bIhVQNXEU8JD0lSx7gv6ngHaEo&pid=Api"
                        class="d-block w-100 img-responsive" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {%bootstrap_javascript jquery='full'%}
</body>

</html>